@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

:root {
    --main_color: white;
    --font_color: black;
    --border_color: black;
    --font_hover: #17b978;
    --icon_hover: #492fa7;
    --font_family: 'Roboto Mono', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, strong, p, li, span, label, textarea, small{
    color: var(--font_color);
    font-family: var(--font_family);
}

/* ---------------- BODY ---------------- */

body {
    display:grid;
    grid-template-areas: 
        "main_nav"
        "seconday_nav"
        "content_wrapper"
    ;
}

/* ---------------- GRID TEMPLATE AREAS ---------------- */
/* ---------------------- WRAPPERS --------------------- */


.main_nav {
    width: 1400px;
    min-height: 24em;
    margin: 0 auto;
}

.introductory_wrapper{
    width: 1400px;
    margin: 0 auto;
}

.content_wrapper{
    width: 1400px;
    margin: 0 auto;
}

/* ---------------------- NAV_WRAPPER --------------------- */

.main_nav .nav_wrapper {
    min-height: 24em;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

/* ---------------------- NAV_TITLE --------------------- */


.main_nav .nav_wrapper .nav_title {
    text-align: center;
    margin-bottom: 60px;
}

/* ---------------------- NAV_BAR --------------------- */

.main_nav .nav_wrapper .nav_bar ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
}

.main_nav .nav_wrapper .nav_bar li{
    font-size: 34px;
    margin: 0 20px;
    border: 3px solid var(--border_color);
    border-radius: 50px;
    padding: 8px 25px;
}

/* --- a TAG --- */

.main_nav .nav_wrapper .nav_bar a, a:visited {
    text-decoration: none;
    color: var(--font_color);
}
/* ---------------------- INDTRODUCTORY WRAPPER --------------------- */

.introductory_wrapper .intro_text_wrapper{
    min-height: 24em;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.introductory_wrapper .intro_text_wrapper h1 {
    font-size:64px;
}

/* ---------------------- CONTENT --------------------- */


.content_wrapper .s1 {
    width: 100%;
    min-height: 40em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "box1 box2"
    ;
    border-bottom: 3px solid var(--main_border_color);
    background-color: var(--main_color)
}

/* ---------------------- BOX1 --------------------- */


.content_wrapper .s1 .box1{
    grid-area: "box1";
}

.content_wrapper .s1 .box1 .box_content {
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "a b"
        "c c";
    padding: 30px;
}

/*left box - profile image*/

.content_wrapper .s1 .box1 .top_left {
    grid-area: "a";
    padding: 20px
}

.content_wrapper .s1 .box1 .top_left img{
    object-fit: fill;
    width: 100%;
    height: auto;
}

/*left box - personal information - */

.content_wrapper .s1 .box1 .top_right {
    grid-area: "b";
}

.content_wrapper .s1 .box1 .top_right hr{
    margin: 10px 0 ;
}

.content_wrapper .s1 .box1 .top_right p {
    margin: 6px;
}

/*left box - social icons - */

.content_wrapper .s1 .box1 .top_right .social_icons {
    display:flex;
    justify-content: space-between;
    font-size: 35px;
    padding: 0 15px;
    margin-top: 40px;
}

/*left box - bottom*/

.content_wrapper .s1 .box1 .bottom {
    grid-area: "c";
    grid-column: span 2;
    border: 2px solid var(--border_color);
    padding: 10px;
    font-weight: 300;
}

.content_wrapper .s1 .box1 .bottom hr {
    margin: 10px 0;
}



/* ---------------------- BOX2 --------------------- */


.content_wrapper .s1 .box2{
    grid-area: "box2";
}


.content_wrapper .s1 .box2 .box_content {
    width:100%;
    height:100%;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 50px;
    grid-template-areas: 
        "a"
        "b"
        "c"
        "d";
    padding: 30px;

}

.content_wrapper .s1 .box2 .box_content .title {
    background: blue;
    grid-area: "a";
}

.content_wrapper .s1 .box2 .box_content .languages1 {
    background: rgb(92, 181, 33);
    grid-area: "b";

}
.content_wrapper .s1 .box2 .box_content .languages2 {
    background: blue;
    grid-area: "c";

}
.content_wrapper .s1 .box2 .box_content .prof_link {
    background: blue;
    grid-area: "d";

}