@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

:root {
    --main_color: white;
    --sec_color: black;

    --font_color: black;
    --sec_font_color: white;

    --border_color: black;
    --font_hover: #17b978;
    --icon_hover: #492fa7;
    --font_family: 'Roboto Mono', sans-serif;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-family: var(--font_family);
    color: #333; 
    line-height: 1;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* NAVBAR */

.navbar {
    background-color: wheat;
    height: 330px;
}

.navbar .switch {
    display: flex;
    align-items: center
}

.navbar ul {
    width: 950px;
    display:flex;
    justify-content: space-between;
}

.navbar li {
    font-weight: 400;
    font-size: 24px;
    border: 2px solid var(--border_color);
    padding: 8px 13px;
    background-color: var(--main_color);
    color: var(--font_color);
    transition: .3s;
    border-radius: 50px;
}

.navbar a {
    margin: 0 15px;
}

.navbar li:hover {
    background-color: var(--sec_color);
    color: var(--sec_font_color);
}

/* MAIN SECTION */

.personal {
    height: 600px;
    position: relative;
}

/* MAIN SECTION - INFO LAYOUT */


.info_layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "a b"
        "c c"
    ;
    padding: 5px;
}

.my_img {
    grid-area: "a";
}

.my_info {
    grid-area: "b";
}

.my_journey {
    grid-area: "c";
    grid-column: span 2;
}

/* MAIN SECTION - LANGUAGES LAYOUT */

.languages_layout {
    display: grid;
    grid-template-rows: 50px 1fr 1fr 100px ;
    grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
    ;
    padding: 5px;
}

.lang {
    display:flex;
}

.languages_layout .links {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.links img {
    height:50px;
    width:120px;
}

/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    height: 100%;
    overflow: hidden;
    padding: 30px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}